# JetBrains
/.idea/

# VisualStudio
/.vs/

# User-specific files
*.user

# C# build artifacts
/bin/
/obj/

# C# publish artifacts
/publish/

# macOS
.DS_Store

# Native libraries
/lib/

# C build artifacts
/cmake-build-release

# C2CS
/bindgen/ast/
