# JetBrains
.idea/

# Build artifacts
bin/
obj/
/artifacts/

# C# packages
/nupkg/

# C build artifacts
cmake-build-release/

# Native libraries
/lib/

# Bindgen
/bindgen/ast/
/bindgen/x-ast/

# macOS
.DS_store